.disappear {
  animation: dissapear 4s 1;
}
@keyframes dissapear {
  0% {
    transform: translateY(0vw);

    animation-timing-function: cubic-bezier(0.41, -1.11, 0.78, 0.4);
    /* opacity: 100%; */
  }
  5% {
    transform: translateY(-3vw);
  }
  100% {
    transform: translateY(50vw);
    /* opacity: 0; */
  }
}
