#shadows_Image,
#shadows2_Image,
#Image {
  pointer-events: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
#shoecontainer,
.colors {
  align-self: center;
}
rect {
  cursor: pointer;
}
#sole,
#back,
#front,
#logo {
  cursor: pointer;
}
.stroke {
  stroke: black;
}
